<p id="notice"><%= notice %></p>


<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', "/comments/#{@comment.article_id}/#{@comment.id}/edit" %> |
<%= link_to 'Back', article_path(@comment.article) %> | <%= link_to 'Add Comment', "/comments/#{@comment.article_id}/new" %>