<p id="notice"><%= notice %></p>

<div class="main-contents shadow-box">
  <h1>
	<%= @article.title %>
  </h1>
  <p>
	<%= @article.content %>
  </p>	
</div>

<div class="comment-wrapper">
  <% @article.comments.each do |comment| %>
    <div class="comment shadow-box">
       <div class="content">
         <strong>Comment:</strong>
  	     <%= comment.content %>
       </div>
  	   <div class="btn">
  	     <%= link_to 'Edit', "/comments/#{@article.id}/#{comment.id}/edit" %> 
	     <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
  	   </div>
  	   <div class="clear"></div>
    </div>

  <% end %>
</div>

<div class="action">
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %> | <%= link_to 'Add Comment', "/comments/#{@article.id}/new" %>
</div>

